<launch>

<!-- specify the planning pipeline -->

  <arg name="pipeline" default="ompl" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>

  <include file="$(find kinova_bringup)/launch/kinova_robot.launch" >
    <arg name="kinova_robotType" value="m1n6s300" /> 
    <arg name="use_urdf" value="true" />
  </include>

  <node name="camera" pkg="aruco_recognition" type="real_aruco.py" output="screen"/>
  <node name="interface" pkg="voice_interface" type="voice_interface.py"/>
  <node name="controller" pkg="controllers" type="controller_real.py" output="screen" />
</launch>