<launch>
  
  <arg name="type" default="simulation" />

  <group if="$(eval arg('type')=='simulation')">
    <include file="$(find controllers)/launch/scullion_voice.launch" />
  </group>
  
  <group if="$(eval arg('type')=='real')">
    <include file="$(find controllers)/launch/scullion_real.launch"/>
  </group>

  <group if="$(eval arg('type')=='tiles')">
    <include file="$(find controllers)/launch/scullion_tiles.launch" />
  </group>
</launch>